:root {
  --highlight: #047690;
  --body_background: rgb(20, 20, 20);
  --background: #333;
  --text-color: white;
}

/* WARNING */
.warning {
  color: red;
  text-align: center;
  vertical-align: middle;
}

/* PAGE FORMATTING */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    max-width: 50px;
    height: auto;
    width: 40px !important; /* ie8 */
    padding: 5px;
  }

  .topnav a {
    font-size: 10px !important;
  }

  section {
    font-size: 0.8em;
    width: 90vw !important;
    margin-top: 60px;
  }
  /* PROFILE PICTURE */
  .circle {
    box-shadow: 0 0 10px var(--highlight);
    position: relative;
    overflow: hidden;
    width: 100px !important;
    height: 100px !important;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
  }
  /* CERTIFICATES */
  .credentials_content{
    width:95vw !important;
  }
  .experience {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    width: 70vw !important;
    font-size: 18px;
  }
  .diplomas {
    width: 100% !important;
    height: auto !important;
  }

  .credentials_content {
    display: block !important;
  }

  .each-slide-effect > div {
    height: 270px !important;
    margin-top:0px;    
  }
  /* PROJECTS */
  .projects_content {
    display: block !important;
  }
  div.gallery {
    width: 40vw !important;
    height: 260px !important;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .project_button {
    position: relative !important;
    bottom: 0px;
    height: 30px !important;
    width: 30px !important;
  }

  .desc {
    margin-left: -50% !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  }
  /* CONTACT */
  .contacts-container > h1 {
    font-size: 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section {
    font-size: 1em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section {
    font-size: 1.1em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section {
    font-size: 1.2em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  section {
    font-size: 19px;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-image: linear-gradient(var(--body_background), var(--background));
  color: var(--text-color);
}
body {
  height: 100%;
  overflow-y: hidden;
}

.logo {
  max-width: 50px;
  height: auto;
  width: auto\9; /* ie8 */
  padding: 5px;
}

/* topbar */
/* Add a black background color to the top navigation */

.logo_area {
  flex: 1;
}

/* navigation bar */
/* Style the links inside the navigation bar */
.topnav {
  width: 100%;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.topnav a {
  float: right;
  color: var(--text-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--text-color);
  color: var(--highlight);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--highlight);
  color: white;
}

/* Page content */

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

section {
  padding-top: 50px;
  height: 100vh;
  height: 100vh;
  top: 0;
  width: 90vw;
}
/* all links must remain white */
a {
  color: var(--text-color);
}

/* HOME CONTENT */
.home_content {
  margin-top:20vh;
  text-shadow: 0px 1px 0 var(--highlight);
  width: 70vw;
}

.home_content > span {
  color: var(--highlight);
  text-shadow: 1px 1px 1px black;
}

.circle {
  box-shadow: 0 0 10px var(--highlight);
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}

.home_email {
  display: flex;
  justify-content: space-between;
}
.home_email > a {
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--highlight);
  width: 40%;
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px;
}
.home_email > a > strong {
  color: var(--text-color);
  display: inline-block;
  transform: translateX(30%);
  transition: 0.5s;
}
.home_email:hover > a > strong {
  transform: translateX(70%);
}

/* CREDENTIALS */
.credentials_content {
  display: flex;
  justify-content: center;
  width: 95vw;
  margin-top: 50px;
}

.experience {
  width: 35vw;
  height: auto;
}

/* SLIDES */
.diplomas {
  width: 60vw;
  height: 100vh;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 510px;
}

/* PROJECTS */

.projects_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.projects_content > h1 {
  font-size: 0;
}

div.gallery {
  background-image: linear-gradient(var(--body_background), var(--background));
  border: #047690 solid;
  margin: 5px;
  float: left;
  width: 20vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.gallery:hover {
  border: solid white;
}

div.gallery img {
  width: 20vw;
  height: 200px;
  object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* CONTACT */
.contact_content {
  text-align: center;
  vertical-align: middle;
  width: 70vw;
}

.social_buttons {
  padding-top: 60px;
  display: flex; /* establish flex container */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  gap: 5px;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 60;
  gap: 50px;
  font-size: 18px;
}

i {
  color: var(--highlight);
}
